#WOO h1 {
	color:red !important;
}

.appraise {
	color:red;
}
.pInfo {
	background: lightgrey;
	border-radius: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: center;
	padding: 2px;
	cursor: pointer;
}
.prices{
	padding: 0;
}
.modalStyle{
	margin: 0 auto;
}
.modalStyle table{
	margin: 0 auto;
}
.modalStyle td{
	text-align: center;
}
.cond{
	background: lightgrey;
	border-radius: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: center;
	padding: 4px;
}
.legend{
	width: 40px;
	/*display: inline;*/
	border-radius: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: center;
	padding: 4px;
}
.worst{
	background-color: #f24d18;
}
.worse{
	background-color: #f2ac18;
}
.avg{
	/*background-color: #edf218;*/
}
.better{
	background-color: #d8e109;
}
.best{
	background-color: #90e90c;
}